.love {
  background-color: rgb(10, 93, 10);
  color: white;
  padding: 1.5em;
  border-radius: 2em;
}

.hate {
  background-color: red;
  color: white;
  padding: 1.5em;
  border-radius: 2em;
}

.mine {
  background-color: #ff36ab;
  color: white;
  padding: 1.5em;
  border-radius: 2em;
}

.love:hover {
  background-color: #06d6a0;
  cursor: pointer;
}
.hate:hover {
  background-color: #e5383b;
  cursor: pointer;
}
.mine:hover {
  background-color: #b5179e;
  cursor: pointer;
}
